<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,164},{49,75}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{49,75}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>kg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,415},{63,69}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{63,69}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>kg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,283},{43,59}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{43,59}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>kg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{59,81}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{59,81}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>kg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,344},{51,69}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{51,69}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>kgd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,415},{55,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>kgd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,264},{60,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,94}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>kgd03.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,196},{85,43}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{85,43}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>kgd04.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,338},{75,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{75,67}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,229},{65,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{73,96}</string>
            </dict>
            <key>lq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,85},{110,77}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{110,77}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>lq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{112,81}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{112,81}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>lq03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,105},{108,89}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{108,89}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>lq04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{112,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{112,97}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>lqd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,196},{66,94}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
            <key>lqd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{79,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,94}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>lqd03.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,251},{85,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,94}}</string>
                <key>sourceSize</key>
                <string>{87,96}</string>
            </dict>
            <key>lqd04.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,241},{92,52}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{92,52}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>nt.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,174},{75,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,97}}</string>
                <key>sourceSize</key>
                <string>{77,105}</string>
            </dict>
            <key>nt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,164},{63,99}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{63,99}}</string>
                <key>sourceSize</key>
                <string>{77,105}</string>
            </dict>
            <key>nt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,326},{77,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{77,87}}</string>
                <key>sourceSize</key>
                <string>{77,105}</string>
            </dict>
            <key>nt03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,101},{71,99}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{71,99}}</string>
                <key>sourceSize</key>
                <string>{77,105}</string>
            </dict>
            <key>nt04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{73,95}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{73,95}}</string>
                <key>sourceSize</key>
                <string>{77,105}</string>
            </dict>
            <key>ntd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{65,82}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{65,82}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>ntd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{97,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{97,125}}</string>
                <key>sourceSize</key>
                <string>{111,125}</string>
            </dict>
            <key>ntd03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{101,110}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>ntd04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{127,92}}</string>
                <key>sourceSize</key>
                <string>{139,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d54127a659e041f3c3eeeb61b5faa33c$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
