<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,36},{55,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,94}}</string>
                <key>sourceSize</key>
                <string>{57,96}</string>
            </dict>
            <key>GameName.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,218},{498,462}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,18},{498,462}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Next.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{146,34}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{146,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>Next1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{156,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{156,37}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,5}}</string>
                <key>sourceSize</key>
                <string>{61,5}</string>
            </dict>
            <key>blood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,5}}</string>
                <key>sourceSize</key>
                <string>{61,5}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>btn_back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>failBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{516,409}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{516,409}}</string>
                <key>sourceSize</key>
                <string>{600,501}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gameBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{146,34}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{146,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>gameBack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{156,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{156,37}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>gameStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{146,34}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{146,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>gameStart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{156,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{156,37}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,9},{60,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,55}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>gold_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,2},{60,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,55}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>nopark.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,38},{96,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>page_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,38},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>page_unmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,38},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>selectLevelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1293},{914,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,609}}</string>
                <key>sourceSize</key>
                <string>{914,609}</string>
            </dict>
            <key>selectLevelBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,879},{914,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,609}}</string>
                <key>sourceSize</key>
                <string>{914,609}</string>
            </dict>
            <key>selectLevelBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{914,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,609}}</string>
                <key>sourceSize</key>
                <string>{914,609}</string>
            </dict>
            <key>start_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,403},{474,488}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{474,488}}</string>
                <key>sourceSize</key>
                <string>{476,506}</string>
            </dict>
            <key>status.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{1174,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1174,79}}</string>
                <key>sourceSize</key>
                <string>{1174,79}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,41},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>tower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{51,92}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{51,92}}</string>
                <key>sourceSize</key>
                <string>{63,96}</string>
            </dict>
            <key>tower1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,9},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>tower1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>tower1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,2},{55,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,94}}</string>
                <key>sourceSize</key>
                <string>{63,96}</string>
            </dict>
            <key>tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>tower2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,37},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>tower2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,38},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>tower2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,38},{59,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{59,94}}</string>
                <key>sourceSize</key>
                <string>{65,96}</string>
            </dict>
            <key>tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>tower31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{37,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{37,88}}</string>
                <key>sourceSize</key>
                <string>{51,96}</string>
            </dict>
            <key>tower3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,2},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>tower3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>tower3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,2},{54,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,92}}</string>
                <key>sourceSize</key>
                <string>{60,96}</string>
            </dict>
            <key>towerstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,41},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>winBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,58},{544,343}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{544,343}}</string>
                <key>sourceSize</key>
                <string>{600,413}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pics.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6316ba762a613135250a6a8dc2813931$</string>
            <key>textureFileName</key>
            <string>pics.png</string>
        </dict>
    </dict>
</plist>
